* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ouhod', sans-serif;
}

html {
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: #022555;
}

section {
    width: 100%;
    margin: auto;
    font-family: var(--font-family);
    max-width: 420px;
    min-height: 400px;
    display: flex;
    border-radius: 1px;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    background-color: white;
}

a, a:visited {
    color: #000;
}

input[type="text"],
input[type="password"],
button,
textarea {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: Ouhod, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: #a1c2f1;
  border: 1px solid;
  padding: 0 1rem;
  outline: none;
  color: #fbfdfe;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

h1{
    color: #022555;
}

p{
    color: #000;
}

label,
button {
  margin-top: 1rem;
  color: #000;
}

button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #2dcd58;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 30px;
}

button:hover {
    transition: transform 750ms;
    transform: scale(1.1);
    opacity: 1;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #022555;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}
