@import url('https://fontlibrary.org/fr/font/ouhod-bold');

:root {
  --font-family: 'Ouhod', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #2cdc58 1.84%, #b7bdf7 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #022555;
  --color-footer : #022555;
  --color-blog: #042c54;
  --color-text: rgba(255, 255, 255, 0.736);
  --color-subtext: #2CDC58;
}
